{% extends 'base.html.twig' %}

{% block title %}You've been deleted{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <p>You've deleted yourself. Continue to the <a href="{{ path('app_index') }}">homepage.</a></p>
    </div>
{% endblock %}