{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    {% if is_granted('room_index_view') %}
        <a href="{{ path('app_room_index') }}" class="back-link">back to list</a>
    {% endif %}
    <h1>Edit Room {{ room.name }}</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
    {% if is_granted('room_delete', room) %}
        {{ include('room/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
