{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    {% if is_granted('room_index_view') %}
        <a href="{{ path('app_room_index') }}" class="back-link">back to list</a>
    {% endif %}
    <h1>Create new Room</h1>

    {{ include('room/_form.html.twig') }}
{% endblock %}
