{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    {% if is_granted('group_index_view') %}
        <a href="{{ path('app_group_index') }}" class="back-link">back to list</a>
    {% endif %}
    <h1>Edit Group</h1>

    {{ include('group/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('group_delete') %}
        {{ include('group/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
