{% extends 'baseError.html.twig' %}

{% block error_content %}
    <span class="error-page__code">403</span>
    <h1 class="error-page__title">Access Denied</h1>
    <p class="error-page__text">
        You do not have the necessary permissions to access this page.<br>
        Please <a href="{{ path('app_login') }}">login</a> to gain access.
    </p>
{% endblock %}
